Repository starling-foundries/KindGrove: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-data-files, block-output-files, validate-cwl, requirements-txt-sorted

.pre-commit-config.yaml:

# Pre-commit hooks for KindGrove Mangrove Workflow
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Skip if needed: git commit --no-verify

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.ipynb$  # Notebooks handled separately
      - id: end-of-file-fixer
        exclude: \.ipynb$
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
        exclude: ^mangrove_workflow\.cwl$  # CWL uses special syntax
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict
      - id: check-docstring-first
        exclude: ^(debug_|fix_|test_).*\.py$

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        exclude: ^(debug_|fix_).*\.py$  # Exclude dev/debug scripts

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']  # Compatible with black
        exclude: ^(debug_|fix_).*\.py$

  # Fast linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
        exclude: ^(debug_|fix_|test_).*\.py$

  # Jupyter notebook handling
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec metadata.language_info.version']

  # Apply black/isort to notebook code cells
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.1
    hooks:
      - id: nbqa-black
        exclude: ^test.*\.ipynb$
        additional_dependencies: [black==23.12.1]
      - id: nbqa-isort
        args: ['--profile', 'black']
        exclude: ^test.*\.ipynb$
        additional_dependencies: [isort==5.13.2, black==23.12.1]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        exclude: ^(debug_|fix_|test_).*\.py$

  # Custom project-specific checks
  - repo: local
    hooks:
      # Block data files from being committed
      - id: block-data-files
        name: Block satellite data files
        entry: Data files should not be committed (use .gitignore)
        language: fail
        files: \.(tif|tiff|hdf|nc|zarr)$

      # Block output files
      - id: block-output-files
        name: Block output CSV files
        entry: Output files should not be committed
        language: fail
        files: ^(outputs/|.*_summary\.csv|.*_biomass\.csv)

      # Validate CWL files
      - id: validate-cwl
        name: Validate CWL syntax
        entry: scripts/validate_cwl.sh
        language: script
        files: \.cwl$
        pass_filenames: true

      # Check requirements.txt
      - id: requirements-txt-sorted
        name: Check requirements.txt is sorted
        entry: scripts/check_requirements.sh
        language: script
        files: ^requirements\.txt$

Repository cleanup and pre-commit hook validation
  CONTRIBUTING.md
  CWL_GENERATION_COMPARISON.md
  DEMO_GUIDE.md
  FUTURE_DATA_SOURCES.md
  HANDOFF.md
  LICENSE
  MANGROVE_CVI_INTEGRATION.md
  README.md
  README_OLD.md
  VALIDATION_COMPARISON.md
  mangrove_workflow.ipynb
  mangrove_workflow_for_cwl.ipynb
  requirements.txt
  test_notebook.py
Due: requirements-txt-sorted

fix: python script not in path in docker
  mangrove_workflow.cwl
Due: validate-cwl

fix: cwltool does not support entrypoint and basecommand in cwl
  Dockerfile
Due: none

fix: network access required for products search
  mangrove_workflow.cwl
Due: validate-cwl

fix: remove outputs not generated by python script
  mangrove_workflow.cwl
Due: validate-cwl

feat: create an application package
  mangrove_workflow_input.yml
  mangrove_workflow_package.cwl
Due: validate-cwl

feat: new workflow with bbox input
  mangrove_workflow_input_bbox.yml
  mangrove_workflow_package_bbox.cwl
Due: validate-cwl

Action to build the Docker container using ipython2cwl
  .github/workflows/build-cwl-docker.yml
Due: none

Publish Docker image on GitHub registry
  .github/workflows/build-cwl-docker.yml
Due: none

Use upload-artifact version 4
  .github/workflows/build-cwl-docker.yml
Due: none

Upload the produced CWL as artifact
  .github/workflows/build-cwl-docker.yml
Due: none

Add OGC Application Package for OSPD phase 2
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Update the notebook and use the branch feature/add-metadata to install ipython2cwl
  .github/workflows/build-cwl-docker.yml
  mangrove_workflow_for_cwl.ipynb
Due: none

Simplify the GitHub Action, slight updates to the application package
  .github/workflows/build-cwl-docker.yml
  mangrove_workflow_for_cwl.ipynb
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Slight updates in metadata of the Application Package
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Update version number from the Application Package prior to docker image publication on the registry
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Fix in notebook
  mangrove_workflow_for_cwl.ipynb
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Produce STAC Catalog from within the notebook
  mangrove_workflow_for_cwl.ipynb
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Run cwltool on the generated cwl from the GitHub Action
  .github/workflows/build-cwl-docker.yml
Due: none

Fix issue with GH Action
  .github/workflows/build-cwl-docker.yml
Due: none

Use 0.0.1-rc3 from the OGC Apllication Package
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Install cwltool from GH Action
  .github/workflows/build-cwl-docker.yml
Due: none

Use develop branch from ipython2cwl
  .github/workflows/build-cwl-docker.yml
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Prepare for OGC Application Package 0.0.1-rc4
  .github/workflows/build-cwl-docker.yml
  mangrove_workflow_for_cwl.ipynb
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Prepare for migration through a PR
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Fix type for the workflow input: cloud_cover_max
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Change cloud_cover_max type to float and update Docker image
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

fix: drop resources requirements
  mangrove_workflow_package_bbox.cwl
Due: validate-cwl

Prepare for releasing version 0.0.1-rc6
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

fix(#1): change bbox type
  mangrove_workflow_input_bbox.yml
  mangrove_workflow_package_bbox.cwl
Due: validate-cwl

docs: OGC building block disclosure
  BUILDING_BLOCKS.md
Due: none

Add parse_aoi command and update mangrove_cli version
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

Add execute.json with input parameters
  execute.json
Due: none

fix: set new eoap bbox in a new yaml file
  mangrove_workflow_input_eoap_bbox.yml
Due: none

Fix typo in the workflow's name
  mangrove_workflow_ogc_application_package.cwl
Due: validate-cwl

feat: Add marimo notebook conversion
  .gitignore
  STAC_DATA_FLOW.json
  capture_stac_data.py
  docs/MARIMO_DESIGN.md
  docs/MARIMO_MIGRATION.md
  mangrove_assessment_results.json
  mangrove_workflow.ipynb
  mangrove_workflow_marimo.py
  run_mangrove_workflow.py
  stac_data_capture/00_MANIFEST.json
  stac_data_capture/01_stac_search_request.json
  stac_data_capture/01_stac_search_response.json
  stac_data_capture/02_stac_item_selected.json
  stac_data_capture/03_stackstac_request.json
  stac_data_capture/03_stackstac_response.json
  stac_data_capture/04_spectral_bands.json
  stac_data_capture/05_vegetation_indices.json
  stac_data_capture/06_mangrove_detection.json
  stac_data_capture/07_biomass_carbon_results.json
  stac_data_capture/README.md
Due: none

WIP: marimo notebook debugging session
  __marimo__/session/mangrove_workflow_marimo.py.json
  mangrove_workflow_marimo.py
Due: none

docs: Add marimo conversion summary document
  MARIMO_CONVERSION_SUMMARY.md
Due: none

docs: Add comprehensive marimo documentation and update README
  README.md
  docs/MARIMO_USAGE.md
Due: none

docs: Add Gerald CWL workflow testing results
  workflow_input_gerald.yml
  workflows.md
Due: none
